<header>
    <h1>WDE</h1>
    <ul>

      <a href="/"><li>Shop</li></a>
      <a href="/cart"><li>Cart <span>2</span></li></a>
      <a href="/order"><li>Orders</li></a>
      <a href="/admin"><li>admin</li></a>
      <a href="/sign-up"><li>Signup</li></a>
      <a href="/sign-in"><li>Signin</li></a>
      <li id="logout-button">Logout</li>
    </ul>
  </header>
