<header>
  <h1><a href="/">WDE</a></h1>
  <ul>
    <% if(!locals.isAdmin){ %>
    <a href="/"><li>Shop</li></a>
    <a href="/cart"
      ><li>Cart <span><%= locals.length %></span></li></a
    >
    <% } %> <% if(locals.isAuth && !locals.isAdmin){ %>
    <a href="/order"><li>Orders</li></a>
    <% } %> <% if(locals.isAuth && locals.isAdmin){ %>
    <a href="/admin"><li>Admin</li></a>
    <a href="/manage-orders"><li>Manage-Orders</li></a>
    <% } %> <% if(!locals.isAuth){ %>
    <a href="/sign-up"><li>Signup</li></a>
    <a href="/sign-in"><li>Signin</li></a>
    <% } %> <% if(locals.isAuth){ %>
    <form action="/log-out" id="logout" method="POST">
      <button><li id="logout-button">Logout</li></button>
    </form>
    <% } %>
  </ul>
</header>
