main {
  width: 70%;
  margin: auto;
}
main h1{
 color: white;
}
#order-item-container ul {
  list-style: none;
}
#product {
  display: flex;
  align-items: center;
  color: white;
}
#order-item-container ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(32, 32, 32);
  padding: 10px;
  border-radius: 3px;
  margin: 1rem 0;
}

#product-state{
 background-color: rgb(208, 125, 0);
 color: white;
 padding: 0.2rem 0.5rem;
 border-radius: 15px;
 text-transform: uppercase;
 letter-spacing: 0.1em;
 color: white;
}

.fa-solid {
  font-size: 2px;
  margin: 4px;
  color: white;
}
#date{
 color: white;
}