main {
  width: 70%;
  margin: auto;
  color: white;
  padding: 0 1rem;
}

#img-container{
 display: flex;
}

#img-container input{
 cursor: pointer;
}
img{
 width: 4rem;
 height: 4rem;
 border-radius: 5px;
}
#update-form-container {
  background-color: transparent;
  width: 100%;
  margin: auto;
  padding: 20px;
}

#update-form-container form label {
  display: block;
  font-size: 1rem;
  color: white;
  margin: 4px;
}

#update-form-container form input {
  width: 100%;
  margin: 0.2rem 0;
  margin-bottom: 1rem;
  height: 1.6rem;
}

textarea{
 width: 100%;
}

#btns button{
    color: white;
    background-color:rgb(115, 69, 1);
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem 0;
   }

   #btns button:hover{
    background-color:rgb(182, 110, 2);
   }
#btns #btn-reset{
 background-color: transparent;
 border: 1px solid rgb(115, 69, 1);
}

#btns #btn-reset:hover{
    background-color: rgba(167, 167, 167, 0.128);
}