<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', {title: "401", css: '/css/500.css'}) %>
<body>
  <header>
    <h1>WDE</h1>
    <ul>
      <a href="/"><li>Shop</li></a>

      <a href="/sign-up"><li>Signup</li></a>
      <a href="/sign-in"><li>Signin</li></a>
    </ul>
  </header>

    <div id="error">
      <h1>401</h1>
      <p>Authentication required! Please log in first.</p>
      <div id="btn">
        <a href="/"> <button>Go Back !</button></a>
      </div>
    </div>

</html>