<%- include('includes/head', {title: "Cart", css: '/css/cart.css'}) %>
  <body>
    <%- include('includes/header') %>
    <main>
      <h1>Your Cart</h1>

      <div id="cart-item-container">
        <ul>
          <li>
            <div>
              <h2>Magic Trackpad</h2>
              <p>$<span>59,99</span></p>
            </div>

            <div id="update-number">
              <input type="number" name="" />
              <div><button>Update</button></div>
            </div>
          </li>


      <div id="total-amount">
        <h3>Total: $<span>200</span></h3>
        <!-- <p>Login to proceed and puechace the items</p> -->
        <button id="buy-product-btn">Buy Product</button>
      </div>
    </main>
  </body>
</html>
