<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', {title: "Detail", css: '/css/detail.css'}) %>
  <body>
    <%- include('includes/header') %>
    <main>
      <div id="item">
        <div id="img-container">
          <img
            src="https://flyingtiger.com/cdn/shop/products/clipboard-with-paper-pad-office-flying-tiger-copenhagen-220241.jpg?v=1671175824"
            alt="Product"
          />
        </div>

        <div id="Product-detail">
          <h2>Magic Trackpad</h2>
          <p>$<span>59,99</span></p>

          <div id="Add-button">
            <button>Add</button>
          </div>
        </div>
      </div>

      <div id="description">
        This helps you a lot with amoothly navigating around on your system
        <p>I'm using it for recording my videos!</p>
      </div>
    </main>
  </body>
</html>
