<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', {title: "Sign-in", css: '/css/sign-up.css'}) %>
<body>
    <%- include('includes/header') %>
      <main>
        <h1>Login</h1>
        <div id="signUp-form-container">
            <form action="">
                <div>
                    <label for="">Email</label>
                    <input type="email" name="" id="">
                </div>
                <div>
                    <label for="">Confirm Email</label>
                    <input type="password" name="" id="">
                </div>

                <div id="button-create-account">
                    <button>Login</button>
                    <a href="#"><p>Create a new user</p></a>
                </div>
            </form>
      </main>
    
</body>
</html>