<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', {title: "Update", css: '/css/update.css'}) %>
  <body>
    <%- include('includes/header') %>
    <main>
      <h1>Add & Update Product</h1>

      <div id="update-form-container">
        <form action="">
          <div>
            <label for="">Title</label>
            <input type="text" name="" id="" />
          </div>
          <div id="img-container">
            <div>
              <label for="img-input">Image</label>
              <input type="file" name="" id="img-input" />
            </div>
            <img id="img" src="" alt="" srcset="" />
          </div>
          <div>
            <label for="">Summary</label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <label for="">Price</label>
            <input type="number" name="" id="" />
          </div>
          <div>
            <label for="">Description</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>

          <div id="btns">
            <button id="btn-reset">Reset</button>
            <button id="btn-save">Save</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
